.main-page-wrapper {
    background-color: #f4f7f6;
    width: 100%;
    min-height: calc(100vh - 56px);
}

.hero-section {
    transition: all 0.3s ease;
}

.hero-section:hover {
    transform: translateY(-5px);
}